{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Capespring.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <div style = "position:fixed; left:80px; top:20px;"><image src="{% static 'capespringlogo.JPG' %}" width="300" height="200"></div>
        <link href="{% static 'capespring.css' %}" rel=stylesheet>
        
        <div class="belowlogo">
        <img src="{% static '4B8A3D2F-EE43-4CAC-8F08-90C65D49805E.jpeg' %}" width="650" height="420">
        </div>

        
        <div class="middle">
        <img src="{% static 'bio.png' %}" width="750"  height="720">
        </div>

    </head>
<body>
<div class="blogimg1">
<img src="{% static 'LYRIC SHEET1.png' %}" width="520" height="550">
</div>
<div class="blogimg2">
    <img src="{% static '2ND LYRIC SHEET.png' %}" width="520" height="550">
</div>
<div class="blog">
    <div class="topleft"><iframe width="480" height="360" src="https://www.youtube.com/embed/GaddYCRAmy0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>     
  
    <div class="topmiddle"><iframe width="480" height="360" src="https://www.youtube.com/embed/AxLDFqKkzSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

    <div class="topbottom"><iframe width="480" height="360" src="https://www.youtube.com/embed/MJNPcqevUyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<a href="{% static 'https://www.instagram.com/c.3.p.o/?hl=en' %}" class="fa fa-instagram"></a>
<a href="{% static 'https://soundcloud.com/capespring' %}" class="fa fa-soundcloud"></a>
<a href="{% static 'https://www.youtube.com/channel/UC-f4LWlR-8ClAyyROjtwkkQ' %}" class="fa fa-youtube"></a>
<a href="{% static 'https://open.spotify.com/artist/2VF53usTu5Chbp1fmxjUeS' %}" class="fa fa-spotify"></a>

</body>
</html>